.footer {
  background: #000d6b;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo i {
  color: #fff;
  font-weight: 400;
}

.footer__logo span {
  color: #fff;
  font-weight: 500;
}

.footer__logo-content {
  color: rgba(255, 255, 255, 0.715);
  margin-top: 15px;
  line-height: 30px;
}

.quick__link {
  border: none !important;
  background: transparent !important;
}

.quick__link a {
  color: rgba(255, 255, 255, 0.715);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick__link a:hover {
  color: #f9a826;
}

.footer__link-title {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.office__info {
  color: rgba(255, 255, 255, 0.715);
  font-weight: 300;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 50px;
  background: #020a4de9;
  position: relative;
  overflow: hidden;
  cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.newsletter input {
  flex: 1;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.newsletter span i {
  color: #ffffff;
  transition: transform 0.3s ease;
}

/* Animation on click */
.newsletter.active span i {
  transform: rotate(360deg);
}

.footer__bottom {
  border-top: 1px solid #7c8a972f;
  padding-top: 20px;
}

.footer__bottom p {
  color: rgba(255, 255, 255, 0.715);
  font-size: 0.9rem;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .footer__logo-content {
    font-size: 0.8rem;
  }

  .quick__link,
  .office__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footer__link-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .footer__bottom p {
    font-size: 0.7rem;
  }
}
